:root {
  // colors
  --primary-color: hsl(151, 29%, 40%);
  --primary-color-hover: hsl(152, 41%, 52%);
  --background-color-main: hsl(163, 19%, 81%);
  --background-color-accent: hsl(40, 91%, 91%);
  --danger-color: hsl(1, 97%, 38%);
  --gray-dark: hsl();
  --gray-light: hsl();

  // font

  --large-title: 24px;
  --medium-title: 20px;
  --small-title: 18px;

  --large-text: 18px;
  --medium--text: 16px;
  --small--text: 14px;

  // breakpoints
}
