{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "importOrder": ["^@(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "pluginSearchDirs": ["./node_modules"],
  "plugins": ["@trivago/prettier-plugin-sort-imports", "stylelint-prettier"]
}
