.card{
  background-color: white;
  border-radius: 15px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.owner{
  display: flex;
  align-items: center;
  &_img{
    width: 100px;
    border: 2px solid var(--primary-color);
    border-radius: 100px;
    margin: 10px 15px 10px 0;
  }
}
