.large{
  font-size: var(--large-title);
}

.medium{
  font-size: var(--medium-title);
}

.small{
  font-size: var(--small-title);
}

.large-text{
  font-size: var(--large-text);
}

.medium-text{
  font-size: var(--medium-text);
}

.small-text{
  font-size: var(--small-text);
}

.bold{
  font-weight: 600;
}

.regular{
  font-weight: 400;
}
